Redirect 301 "/" "https://www.google.com/search?safe=strict&sca_esv=b82d5f7397a53474&sca_upv=1&q=shrek+wedding&udm=2&fbs=AEQNm0A6bwEop21ehxKWq5cj-cHaFrx1JueC4NFtj4xnF2YrvSe6_ZIVuMo-rE7KOVwWsQS-rAAKctdH-orFzv2lvHNh8K0RVlqG4umu_YHAQyLygPT3xsMJungdUKWFWXTxpulkA_m8_nJ1ujNvSQrHS8r1gRGYV5efzsg8F6D-R0Pf2VfKFFtBQKjJNXgzsCgsBPsawGSD&sa=X&ved=2ahUKEwiC89SNvcyHAxVNh_0HHbn4KtkQtKgLegQIGRAB&biw=1912&bih=1050&dpr=1#vhid=QPuZTcvU2GbLBM&vssid=mosaic"
