body, html {
    background-color: black;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

#bg {
    background-color: rgb(30,30,30);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}

#body {
    height: 100%;
    font-family: Consolas, monaco, monospace;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    padding-left: 1rem;
}

#hello {
    color: rgb(240, 240, 240);
    font-size: 50px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1rem;
}

#code {
    color: rgb(190, 190, 190);
    font-size: 30px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 3rem;
}

.fa {
    padding: 20px;
    font-size: 40px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin-right: 2rem;
    border-radius: 20px;
}

.fa-linkedin {
    background: #007bb5;
    color: rgb(255, 255, 255);
}

.fa-github {
    background: #5a5a5a;
    color: rgb(255, 255, 255);
}
