body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Consolas, monaco, monospace;
    font-style: normal; 
    font-variant: normal; 
    padding-left: 1em;
}




#hello {
    font-size: 50px;
    font-weight: 700;
}

#code {
    color: rgb(200, 200, 200);
    font-size: 30px;
    font-weight: 500;

    animation: appear 2s forwards;
    opacity: 0;
}

@keyframes appear {
    to   { opacity: 1; }
}

#pipe {
    font-size: 35px;
    animation: flash 1s infinite;
    visibility: hidden;
}

@keyframes flash {
    0%   { visibility: visible; }
    50%   { visibility: hidden; }
}




#social {
    margin-top: 5em;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    border-radius: 25px;
}

.fa-linkedin {
    background: #007bb5;
    color: rgb(255, 255, 255);
}

.fa-github {
    background: #5a5a5a;
    color: rgb(255, 255, 255);
}




#album {
    margin-top: 5em;
    width: 100%;
    max-width: 30em;
}

#album_title{
    font-size: 30px;
    font-weight: 500;
}